<div class="card text-center">
    <div class="card-header">
        <a>Dashboard - RAG Acredita {{ esDemoMode() ? '[DATOS DE PRUEBA]' : '' }}</a>
        <hr>
        <app-informes-totales-list></app-informes-totales-list>
    </div>
    <div class="card-body">

        <div class="d-flex" style="padding-bottom: 20px;">
            <a style="margin-right: 10px;" class="btn btn-info mt-3" (click)="vista.set('documentos')">Documentos</a>
            <a style="margin-right: 10px;" class="btn btn-info mt-3" (click)="vista.set('chats')">Chats</a>
            <a style="margin-right: 10px;" class="btn btn-info mt-3" (click)="vista.set('usuarios')">Usuarios</a>
        </div>

        @if (vista() === 'documentos') {
            <app-informes-documentos></app-informes-documentos>
        }

        @if (vista() === 'chats') {
            <app-informes-chats></app-informes-chats>
        }

        @if (vista() === 'usuarios') {
            <app-informes-usuarios></app-informes-usuarios>
        }
    </div>
    <div class="card-footer text-body-secondary d-flex justify-content-center">
        
    </div>
</div>