<!--Este componente crea todas las tarjetas que luego se veran en dchunk list-->

<div class="card w-20" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title">Chunk {{ chunk().id }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">
      @if (chunk().estado == 'PENDIENTE') {
        @if (updateEstadoError() != null) {
          <p>{{ updateEstadoError() }}</p>
        }
        Pendiente - <button (click)="onAccept(chunk())" [disabled]="isUpdatingEstado()">✔</button>
        <button (click)="onDeny(chunk())" [disabled]="isUpdatingEstado()">✘</button>
      } @else {
        <p>{{ chunk().estado }}</p>
        @if (updateEstadoOK() != null) {
          <p>{{ updateEstadoOK() }}</p>
        }
      }
    </h6>
    <p class="card-text">{{ expanded() ? chunk().texto : textoPrevio(chunk().texto) }}</p>
    <!-- <p class="card-subtitle mb-2 text-muted">{{ chunk().tokens }} tokens</p>-->
    <!--<p class="card-subtitle mb-2 text-muted">Página {{ chunk().pagina ?? 'sin dato' }}</p>-->
    <button class="btn btn-info" (click)="expanded.set(!expanded())">
      {{ expanded() ? 'Ocultar' : 'Ver' }}
    </button>
  </div>
</div>
